
@using sw_EnligateWeb.Models;

@{
    ViewBag.Title = "Dashboard";

    var ddlFiltroEstatusTorneo = new List<SelectListItem>();
    ddlFiltroEstatusTorneo.Add(new SelectListItem { Text = "TORNEOS ACTIVOS", Value = "0" });
    ddlFiltroEstatusTorneo.Add(new SelectListItem { Text = "TORNEOS INACTIVOS", Value = "2" });
    ddlFiltroEstatusTorneo.Add(new SelectListItem { Text = "TORNEOS FINALIZADOS", Value = "1" });

}
<script type="text/javascript">

    $(document).ready(function () {
        fnGVTorneos_PerformCallback();     
    });

    function fnGVTorneos_PerformCallback(s, e) {
        if (typeof gvTorneos.InCallback === "function") {
            gvTorneos.PerformCallback();
        }
    }

    function fnGVTorneos_OnBeginCallback(s, e) {
        var estatus = $("#ddlFiltroEstatusTorneo");
        e.customArgs['torFiltroEstatus'] = estatus.val();
    }

    var gvTC_tipoGrid = 1;
    var gvTC_ligId = 0;
    var gvTC_tokenLiga = "";
    var gvTC_torId = 0;
    var gvTC_tokenTorneo = "";

    function fnGVTorneos_Estadisticas(Id, token) {
        alert("Muestra las estadísticas");
    }
    function fnGVTorneos_Equipos(id) {
        $("#TorneoId").val(id)

        $("#frmTorneoEdit").submit();
        //location.href = "/AdminLigas/TorneoDetails?Id="+id;
    }
    function fnGVTorneos_Details(id){
        fnGVTorneos_Equipos(id);
    }
    function fnGVTorneos_Editar(Id, token) {
        $.ajax({
            url: '/AdminTorneos/_TorneoNuevoEditar',
            type: "POST",
            cache: false,
            data: "Id=" + Id + "&usrId=" + token,
            success: function (data) {
                var divDetail = $("#divTorneosDetail");
                var divGrid = $("#divTorneosGrid");

                divGrid.hide();
                divDetail.show();
                $("#divTorneoNuevoEdit").html(data);
            },
            complete: function (jqXHR, textStatus) {
                showMessages();
            },
            error: function (xhr, status, p3, p4) {
                //alert("Hubo un error, intenta nuevamente");
            }
        });
    }

    function fnTorneosCloseDetail() {
        var divDetail = $("#divTorneosDetail");
        var divGrid = $("#divTorneosGrid");

        $("#divTorneoNuevoEdit").html("");
        divDetail.hide();
        divGrid.show();
        fnGVTorneos_PerformCallback();
    }

</script>
<!-- Content -->
<div id="ARBITRO_Dashboard" class="row">
    <div id="ARBITRO_Dashboard_Torneos" class="col-sm-12">
        <div class="m-hdc-Gallery">
            <h2>Torneos en los que Participo</h2>
            <div class="col-xs-12 col-md-12 col-lg-12 ">
                <div id="divTorneosGrid" class="col-xs-12">

                    <div class="col-xs-12 paddingLZero mSpaceMb10">
                        <table border="0" style="margin: auto; margin-right:0;">
                            <tr>
                                <td>
                                    MOSTRAR
                                    @Html.DropDownList("ddlFiltroEstatusTorneo", ddlFiltroEstatusTorneo, new { @class = "", onchange = "fnGVTorneos_PerformCallback();" })
                                </td>
                            </tr>
                        </table>
                    </div>
                    <div class="col-xs-12 paddingLZero">
                        @Html.Action("TorneosGrid", "AdminTorneos", new { tipoGrid = 3 , hideAction = 1})
                    </div>

                </div>
                <form id="frmTorneoEdit" action="@Url.Action("TorneoEquipos", "AdminLigas")" method="get" style="display:none;">
                    <input type="hidden" id="TorneoId" name="Id" />
                </form>
                <div id="divTorneosDetail" class="col-xs-12" style="display:none;">
                    <div class="col-xs-12">
                        <button type="button" class="btn btn-link mLink2" onclick="fnTorneosCloseDetail()">
                            Regresar a la lista de torneos
                        </button>
                    </div>

                    <div class="col-xs-12">
                        <div id="divTorneoNuevoEdit" class="row mSpaceMt20">

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@section scripts{
    <script type="text/javascript">
        $(document).ready(function () {
            $(".divTorneoNotify").hide();
        });

    </script>
}


