@using sw_EnligateWeb.Models;

@{
    Layout = "~/Views/Shared/_LayoutHome.cshtml";
    ViewBag.Title = "Enligate";
}

<!-- Content -->
<div class="row">
    <div class="col-sm-12">
        <div class="col-sm-offset-1">

            <div class="mTitle2 text-uppercase text-center mSpaceMt30 mSpaceMb30">
                Confirmación de correo
            </div>

            @if (ViewBag.UsuarioNombre != "")
            {
                <div class="col-lg-offset-4 col-lg-4 col-sm-offset-3 col-sm-6 col-xs-offset-1 col-xs-10 text-justify">
                    <p>
                        Hola @ViewBag.UsuarioNombre!
                    </p>
                    <p>
                        Gracias por confirmar tu cuenta de correo. Da clic en "Continuar" para disfrutar de ENLIGATE.
                    </p>
                    <br />
                    <br />
                    <br />
                    <p>
                        En un momento lo Redireccionaremos !! 
                    </p>
                </div>

                <!--
                <div class="col-lg-offset-4 col-lg-4 col-sm-offset-3 col-sm-6 col-xs-offset-1 col-xs-10 mSpaceMt30">
                    Html.ActionLink("Continuar", "Index", "Admin", null, new { class = "btn btn-default width100" })
                </div>
                    -->
            }
        </div>
    </div>
</div>

<div class="hidden m-messageHide">
    @Html.Partial("_ModalState_Errors")
</div>

@section scripts{
    <script type="text/javascript">
        @if(ViewBag.jsScript != null)
        {
            <text>
        @(new HtmlString(ViewBag.jsScript))
            </text>
        }

        $(document).ready(function () {
            showMessages();
        });
    </script>
}