@using sw_EnligateWeb.Models;

@{
    ViewBag.Title = "Enligate";
}

<!-- Content -->
<div id="ADMINISTRADORDEEQUIPO_Dashboard" class="row">
    <div id="ADMINISTRADORDEEQUIPO_Dashboard_OtrosPerfiles" class="col-sm-12">

        <div class="m-hdc-Gallery">
            <h1>Perfiles que manejo</h1>
        </div>

    </div>
</div>