@{
    ViewBag.Title = "Crear liga";
}

<!-- Content -->
<div id="ADMINISTRADORDELIGAS_Ligas" class="row">
    <div id="ADMINISTRADORDELIGAS_Ligas_CrearNuevaLiga" class="col-sm-12">

        <div class="col-xs-12">
            <div class="col-xs-12">
                <div class="col-xs-12">
                    <fieldset id="frmAddLeagueRequest">
                        @Html.Partial("Home/_InscribirLigaForm")
                    </fieldset>
                </div>
            </div>
        </div>

    </div>
</div>