@using sw_EnligateWeb.Models;

@{
    ViewBag.Title = "Enligate";
}

<!-- Content -->
<div id="ADMINISTRADORDELIGAS_Pagos" class="row">
    <div class="col-sm-12">
        <div class="m-hdc-Gallery">

            <h1>Pagos Resultado</h1>
          
          
        </div>
    </div>
</div>

@section scripts{
    <script type="text/javascript">
        $(document).ready(function () {

        });
    </script>    
}   