@using System.Web.UI.WebControls;
@using sw_EnligateWeb.Models;

@{
    var gvRequests = Html.DevExpress().GridView(settings =>
    {
        //General Settings
        settings.Name = "gvTorneoEstadisticas";
        // settings.CallbackRouteValues = new { Controller = "Home", Action = "torEstadisticas" };
        settings.Width = Unit.Percentage(100);
        settings.EnableRowsCache = false;
        settings.Width = Unit.Percentage(100);
        settings.EnableRowsCache = false;

        //Styles
        settings.Styles.GroupPanel.CssClass = "gvGroupPanel";
        settings.Styles.Header.CssClass = "gvHeader";
        settings.Styles.FilterRow.CssClass = "gvHeader";
        settings.Styles.Row.CssClass = "gvRow";
        settings.Styles.AlternatingRow.CssClass = "gvRowAlternative";
        settings.Styles.DetailRow.CssClass = "gvDetailRow";
        settings.SettingsLoadingPanel.Mode = GridViewLoadingPanelMode.Disabled;

        //Columns
        settings.KeyFieldName = "pos";
        settings.Columns.Add(col =>
        {
            col.FieldName = "pos";
            col.Caption = "POS.";
        });
        settings.Columns.Add(col =>
        {
            col.MinWidth = 200;
            col.SetDataItemTemplateContent(c =>
            {
                var equId = DataBinder.Eval(c.DataItem, "equId");
                var torId = DataBinder.Eval(c.DataItem, "torId");
                var lblnombre = DataBinder.Eval(c.DataItem, "equNombre");
                ViewContext.Writer.Write(string.Format("<button type = \"button\" class=\"btn btn-link\" onclick=\"fnEquipoEstadisticas(" + torId + "," + equId + ")\"\"><span class=\"\" > "+ lblnombre + "</span></button>"));
                //ViewContext.Writer.Write(string.Format("<button type = \"button\" class=\"btn btn-large btn-danger pull-right\" onclick=\"_PartidosDelete(" + c.KeyValue + ")\"\"><span class=\"glyphicon glyphicon-remove\" ></span></span></button>"));
            });
            col.Caption = "EQUIPO";
        });
        settings.Columns.Add(col =>
        {
            col.FieldName = "puntos";
            col.Caption = "PTS";
        });

        settings.Columns.Add(col =>
        {
            col.FieldName = "parJugados";
            col.Caption = "PJ";

        });
        settings.Columns.Add(col =>
        {
            col.FieldName = "parGanados";
            col.Caption = "PG";
        });
        settings.Columns.Add(col =>
        {
            col.FieldName = "parEmpatados";
            col.Caption = "E";

        });
        settings.Columns.Add(col =>
        {
            col.FieldName = "parPerdidos";
            col.Caption = "P";

        });
        settings.Columns.Add(col =>
        {
            col.FieldName = "golFavor";
            col.Caption = "GF";
        });
        settings.Columns.Add(col =>
        {
            col.FieldName = "golContra";
            col.Caption = "GC";
        });
        settings.Columns.Add(col =>
        {
            col.FieldName = "difGoles";
            col.Caption = "DIF";
        });

        //Paging
        settings.SettingsPager.Mode = GridViewPagerMode.EndlessPaging;
        settings.SettingsPager.PageSize = 20;
        settings.Settings.VerticalScrollBarMode = ScrollBarMode.Visible;
        settings.Settings.VerticalScrollableHeight = 400;

        //Adaptivity - Responsive Design
        settings.SettingsAdaptivity.AdaptivityMode = GridViewAdaptivityMode.HideDataCells;
        settings.SettingsAdaptivity.AllowOnlyOneAdaptiveDetailExpanded = true;
        settings.SettingsAdaptivity.AdaptiveColumnPosition = GridViewAdaptiveColumnPosition.Right;
        settings.SettingsAdaptivity.AdaptiveDetailColumnCount = 1;

        //Rows
        settings.SettingsBehavior.AllowSelectByRowClick = false;

        //Callbacks
        //settings.ClientSideEvents.BeginCallback = "fnGVPartidosView_OnBeginCallback";
    });

    if (ViewData["EditError"] != null)
    {
        gvRequests.SetEditErrorText((string)ViewData["EditError"]);
    }

    gvRequests.Bind(Model).GetHtml();
}
