@using sw_EnligateWeb.Models;

@{
    ViewBag.Title = "Canchas";
}

<!-- Content -->
<div id="ADMINISTRADORDETORNEOS_Torneos" class="row">
    <div id="ADMINISTRADORDETORNEOS_Torneos_Canchas" class="col-xs-12 mSpaceMb20">
        <div class="col-xs-12">
            <h1 class="mTitle1">Canchas</h1>
        </div>

        @Html.Partial("Torneos/_Canchas")

    </div>
</div>

@section scripts{
    @*
    <script type="text/javascript">
        $(document).ready(function () {

        });
    </script>
    *@
}