@using sw_EnligateWeb.Models;

@{
    Layout = "~/Views/Shared/_LayoutHome.cshtml";
    ViewBag.Title = "Enligate";
}

<!-- Logo and Balls-->
@Html.Partial("_LogoBalls")

<!-- Content -->
<div class="row">
    <div class="col-xs-12 col-sm-offset-2 col-sm-10 col-md-offset-2 col-md-8 col-lg-offset-3 col-lg-7 mSpaceMt40">
        <div class="mTitle5 mSpaceMb20">
            Nosotros
        </div>

        <div class="row">
            <div class="col-xs-12 col-sm-6 mAboutUsImgLeft">
                <img src="../../Content/Images/home/Nosotros01.jpg" alt="ENLIGATE" class="width100" />
            </div>

            <div class="col-sm-6 mAboutUsImgRight hidden-xs">
                <img src="../../Content/Images/home/Nosotros03.jpg" alt="ENLIGATE" class="width100" />
            </div>
        </div>

        <div class="row row-eq-height row-eq-height-alignCenter">
            <div class="col-xs-12 col-sm-6 mLink1 mAboutUsImgLeft mSpaceMt20">
                <span>ENLIGATE</span> <br />
                es una empresa <br class="hidden-xs" />
                100% Mexicana
            </div>

            <div class="col-sm-6 mAboutUsImgRight hidden-xs">
                <img src="../../Content/Images/home/Nosotros02.jpg" alt="ENLIGATE" class="width100" />
            </div>
        </div>

        <div class="row">
            <div class="col-xs-12 mSpaceMt20 paddingLRZero mAboutUsContent">
                <p>
                    del Grupo Marcad, fundada en Monterrey, Nuevo León.
                </p>
                <p>
                    Nuestra empresa está dedicada a facilitar la creación, administración y promover eventos
                    deportivos de nuestros socios comerciales.
                </p>
                <p>
                    Una de las actividades principales que tenemos
                    <span class="mLink1 mAboutUsSpan"> como responsabilidad social, es motivar a las personas a realizar el deporte,</span>
                    dándoles acceso a cualquier persona la herramienta ENLIGATE que junto con nuestros socios comerciales,
                    hacemos de esta una gran plataforma para promover el deporte y dar un acceso de forma fácil, segura y rápida
                    a eventos deportivos.
                </p>
            </div>
        </div>
    </div>
</div>