@using sw_EnligateWeb.Models;
@model TorneosGridViewModel
<script type="text/javascript">

    $(document).ready(function () {
        gvEquiposGrid_PerformCallback();
        $("#JugadoresTitleGrid").hide();
        $("#divJugadoresDetailPartial").hide();

    });


    function OnImageClick(sender) {
        var idAtt = $(sender).attr("data-id");
        var idObj = $(sender).data();
        alert("att: " + idAtt + ":  obj.id: " + idObj.id);
    }
    function gvEquiposGrid_PerformCallback(s, e) {
        if (typeof gvEquiposGrid.InCallback === "function") {
            if (!gvEquiposGrid.InCallback()) {
                gvEquiposGrid.PerformCallback();
            }
        }
    }

    function gvEquiposGrid_BeginCallback(s, e) {
        e.customArgs['torId'] = @Model.torId;
        $('#equipoId').val(0);
    }

    function showJugadoresGrid(Status) {
        if (Status) {
            $("#JugadoresTitleGrid").show();
            $("#divJugadoresDetailPartial").show();
            $(".tituloEquiposGrid").removeClass("col-xs-12").addClass("col-xs-6");
            $(".equiposGrid").removeClass("col-xs-12").addClass("col-xs-6");
            gvEquiposGrid.PerformCallback();
        }
    }
    function newTeam(){
        var data={equId : 0, torId : @Model.torId, adminLigaTorneos : true, usuAgregarCoadmin : true}
        $.ajax({
            url: '/AdminEquipos/NuevoEdit',
            type: "POST",
            cache: false,
            data: data,
            success: function (data) {
                $("#editEquipoJugadores").modal();
                $("#divEditEquipoJugadores").html(data);
            },
            complete: function (jqXHR, textStatus) {
                showMessages();
            }
        });
    };

    function fnEquipoDetails_RowDblClick(s , e) {
        var equId=0,torId=0;
        s.GetRowValues(e.visibleIndex, 'equId', function (value) {
            s.GetRowValues(e.visibleIndex, 'torId', function (value_tor) {
                fnJugadoresShowDetail(value,value_tor);
                $('#equipoId').val(value);
            });
        });
    };
    function fnJugadoresShowDetail(equId,torId) {
        var data={equId : equId, torId : torId, adminLigaTorneos : true, usuAgregarCoadmin : true}
       $.ajax({
           url: '/AdminEquipos/NuevoEdit',
            type: "POST",
            cache: false,
            data: data,
            success: function (data) {
                $("#editEquipoJugadores").modal();
                $("#divEditEquipoJugadores").html(data);
                $(".btnCrearEditarEquipo").prop("disabled",false);
                $("#datosPrincipalEquipo").hide();
                gvEquiposGrid.PerformCallback();
                fnGVJugadores_PerformCallback();
                $(".btnCrearEditarEquipo").on("click",function(){
                    this.prop("disabled",true)
                    gvEquiposGrid.PerformCallback();
                });
            },
            complete: function (jqXHR, textStatus) {
                showMessages();
            }
        });
    }
    function addNuevoJugador() {
        $("#modalJugadorNuevo").modal();


    }
    function modalJugadoresEdit(e){
        $("#modalJugadoresEdit").modal();
        var items=[];
        $(e).closest("tr").each(function(v,k){
            items.push($(k).text());
        })
        console.log(items);
    }
    function _EquipoDelete(id) {
        if (confirm("Seguro que desea eliminar el Equipo?")) {
            $.ajax({
                url: '/AdminEquipos/_Equipos_Delete',
                type: "POST",
                cache: false,
                data: "equId=" + id,
                success: function (data) {
                    messengeSuccess("Equipo Eliminado.");
                    console.log("success!");
                    gvEquiposGrid_PerformCallback();
                },
                complete: function (jqXHR, textStatus) {
                    showMessages();
                }
            });
        }
    }
</script>

<!-- Content -->
<div id="ADMINISTRADORDELIGAS_Torneos" class="row">
    <div id="ADMINISTRADORDELIGAS_Torneos_Torneos" class="col-xs-12 col-sm-12 col-lg-12 mSpaceMb20">
        <div class="col-xs-12 tituloEquiposGrid">
            <div class="col-xs-12 dashboardBadgeTitles" >
                Equipos @Model.ligNombre
                <button class="btn btn-primary pull-right" onclick="newTeam()">Crear Equipo</button>
            </div>
        </div>
        <div class="col-xs-6">
            <div class="col-xs-12 dashboardBadgeTitles" id="JugadoresTitleGrid">
                <span>Jugadores</span>
                <a href="#">
                    <span class="glyphicon glyphicon-plus pull-right" aria-hidden="true" onclick="addNuevoJugador()"></span>
                </a>
            </div>
        </div>
        <div class="col-xs-12 equiposGrid">
            @Html.Action("_Equipos_Grid", "AdminEquipos")
        </div>
        <input type="hidden" id="equipoId" name="equipoId" value="0" />
        <div id="divJugadoresDetailPartial" class="col-xs-6">           
            
        </div>         
        <div id="divNuevoJugadoPartial" class="col-xs-12">
            
        </div>         
    </div>
</div>
<!--MODAL NEW PLAYER-->
<div class="modal fade" id="editEquipoJugadores" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header" style="padding-bottom:0px;">
                <img src="~/Content/Images/general/logoMd.png" alt="Logo" class="mlImgLogin" />

                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            </div>
            <div class="modal-body modalBodyJugadores" style="padding-top:0px;">
                <div class="container-fluid" style="min-height:150px;padding-top:0px;">
                    <div class="col-md-1"></div>
                    <div class="col-md-11">
                        <div id="divEditEquipoJugadores"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
