@using sw_EnligateWeb.Models;

@{
    ViewBag.Title = "Enligate";
}

<!-- Content -->
<div id="ADMINISTRADOR_Publicidad" class="row">
    <div class="col-sm-12">
        <div class="m-hdc-Gallery">

            <h1>
                Administrador
            </h1>

            <h3>
                Publicidad
            </h3>

        </div>
    </div>
</div>

@section scripts{
    <script type="text/javascript">
        $(document).ready(function () {

        });
    </script>
}