@using sw_EnligateWeb.Models.HelperClasses;
@using sw_EnligateWeb.Models;
@model ProfileViewModel

@{
    ViewBag.Title = "Perfil";
}

<!-- Content -->
<div id="ADMINISTRADOR_Dashboard" class="row">
    <div id="ADMINISTRADOR_Dashboard_MiPerfil" class="col-sm-12">

        @if (!(bool)ViewBag.afa_usrEmailConfirmed)
        {
            <div class="row mSpaceMt10">
                <div class="col-xs-12">
                    @using (Ajax.BeginForm("_ConfirmEmailForward", "Account", new AjaxOptions { HttpMethod = "Post", UpdateTargetId = "frmConfirmEmailForward", OnComplete = "showMessages();" }))
                    {
                        <fieldset id="frmConfirmEmailForward" class="text-center">
                            @Html.Partial("Account/_ConfirmEmailForward")
                        </fieldset>
                    }
                </div>
            </div>
            
        }

        <div class="row mSpaceMt10 mSpaceMb20 mSpacePLRAdminContent">
            @Html.Partial("Admin/_Perfil", Model._profile)
        </div>

    </div>
</div>

